#**Python Libraries**
Python provides multiple libraries for data analysis,cleaning and arrangement. Two such famous libraries are NumPy and Pandas

#**NumPy**
Numpy is the fundamental library of Python, used to perform scientific computing. It provides high-performance multidimensional arrays and tools to deal with them.

#**Pandas**
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

DataFrame usign Dictionary:

#**Importing the libraries in the codebase**

In [1]:
import pandas as pd
import numpy as np

#**Reading .csv files with the help of Pandas**

In [2]:
df=pd.read_csv('/content/top_restaurants_paris.csv')
print(df)

                          name  \
0    The Frog at Bercy Village
1      Assanabel Saint-Germain
2                 114 Faubourg
3                       Nectar
4                    Nell'Arte
..                         ...
775           Augusto Pizzeria
776        Top Chef Le Bistrot
777          L'Atelier du Parc
778                A l'Affiche
779                   Barock's

                                               address  rankingPosition  \
0            25 Cour Saint Emilion, 75012 Paris France               19
1                     38 rue Jacob, 75006 Paris France               15
2    114 rue du Faubourg Saint Honore, 75008 Paris ...               35
3    7 rue Mayran Hôtel Maison mère, 75009 Paris Fr...                5
4    58 rue Marguerite de Rochechouart, 75009 Paris...               14
..                                                 ...              ...
775            14 rue Victor Masse, 75009 Paris France              702
776            29 quai Gallieni, 92150 Suresnes France                3
777          35 boulevard Lefebvre, 75015 Paris France              738
778               48 rue de Moscou, 75008 Paris France              749
779  25 rue Diderot 25 rue Diderot, 92140, Issy-les...                5

     rating                                        description  \
0       4.5  THE FROG AT BERCY VILLAGE is situated in an hi...
1       4.5  Assanabel Paris, les restaurants où notre spéc...
2       4.5  La brasserie étoilée Récompensé par une étoile...
3       5.0  Un refuge gastronomique effervescent et décomp...
4       5.0                                                NaN
..      ...                                                ...
775     4.5  Venez découvrir de délicieuses pizzas chez Aug...
776     4.5                                                NaN
777     4.5                                                NaN
778     4.5                                                NaN
779     4.5                                                NaN

     numberOfReviews priceLevel priceRange
0               2292   $$ - $$$  $11 - $17
1                232   $$ - $$$  $20 - $90
2               1953       $$$$        NaN
3                243   $$ - $$$  $15 - $69
4                350   $$ - $$$  $12 - $20
..               ...        ...        ...
775              149   $$ - $$$  $15 - $35
776             1910   $$ - $$$  $13 - $45
777              604       $$$$  $27 - $89
778              367   $$ - $$$  $16 - $35
779              266   $$ - $$$        NaN

[780 rows x 8 columns]

#**DataFrame**
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.


Basic Syntax:
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

Parameters:

datandarray (structured or homogeneous), Iterable, dict, or DataFrame
Dict can contain Series, arrays, constants, dataclass or list-like objects. If data is a dict, column order follows insertion-order. If a dict contains Series which have an index defined, it is aligned by its index. This alignment also occurs if data is a Series or a DataFrame itself. Alignment is done on Series/DataFrame inputs.

If data is a list of dicts, column order follows insertion-order.

index:Index or array-like
Index to use for resulting frame. Will default to RangeIndex if no indexing information part of input data and no index provided.

columns:Index or array-like
Column labels to use for resulting frame when data does not have them, defaulting to RangeIndex(0, 1, 2, …, n). If data contains column labels, will perform column selection instead.

dtype:dtype, default None
Data type to force. Only a single dtype is allowed. If None, infer.

copy:bool or None, default None
Copy data from inputs. For dict data, the default of None behaves like copy=True. For DataFrame or 2d ndarray input, the default of None behaves like copy=False. If data is a dict containing one or more Series (possibly of different dtypes), copy=False will ensure that these inputs are not copied.

#**DataFrame with the help of a dictionary**

In [3]:
data= {'apples':[3,2,1,0], 'oranges':[0,3,7,2]}
df=pd.DataFrame(data)
print(df)
df=pd.DataFrame(data, index=['a','b','c','d'])
print(df)

   apples  oranges
0       3        0
1       2        3
2       1        7
3       0        2
   apples  oranges
a       3        0
b       2        3
c       1        7
d       0        2

#**Series**
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

#**Creation of series**

In [5]:
l=[10,20,30,40]
l2=["Vansh","Siddhi","Manoj"]
s1=pd.Series(l)
s2=pd.Series(l2)
print(s1)
print(s2)
s1=pd.Series(l, index=['a','b','c','d'])
print(s1)

0    10
1    20
2    30
3    40
dtype: int64
0     Vansh
1    Siddhi
2     Manoj
dtype: object
a    10
b    20
c    30
d    40
dtype: int64

#**Arrays**
Python lists are a substitute for arrays, but they fail to deliver the performance required while computing large sets of numerical data.

To address this issue we use the NumPy library of Python. NumPy offers an array object called ndarray. They are similar to standard Python sequences but differ in certain key factors.

In [ ]:
s3=[1,2,3,4]
arr=np.array(s3)
print(s3)

[1, 2, 3, 4]

#**Different series testcases**

In [6]:
countries={
    'Country':["India","USA","UAE","France"]
}

scount=pd.Series(countries)
print(scount)

print(s1['b']) #accesing an element from index
print(s1[1:3]) #accesing range of elements
print(s1['b':'d']) #accessing range of elements with the help of index

Country    [India, USA, UAE, France]
dtype: object
20
b    20
c    30
dtype: int64
b    20
c    30
d    40
dtype: int64

#**Operations on series**
1) Addition

2) Subtraction

3) Multiplication

4) Division

In [ ]:
l3=[70,80,90,100]
ll=[10,20,30,40]
s3=pd.Series(l3)
s4=pd.Series(ll)
dsum=s4+s3
print("Addition")
print(dsum)
dsub=s4-s3
print("Subtraction")
print(dsub)
dmul=s4*s3
print("Multipication")
print(dmul)
ddiv=s4/s3
print("Division")
print(ddiv)

Addition
0     80
1    100
2    120
3    140
dtype: int64
Subtraction
0   -60
1   -60
2   -60
3   -60
dtype: int64
Multipication
0     700
1    1600
2    2700
3    4000
dtype: int64
Division
0    0.142857
1    0.250000
2    0.333333
3    0.400000
dtype: float64

#**VARIOUS VARIATIONS OF SERIES AND DATAFRAMES BY PERMUTING THEM WITH LIST AND DICTIONARY**

#**Creation of Empty dataframe**

In [8]:
a=[]
df1=pd.DataFrame(a)
print(df1)

Empty DataFrame
Columns: []
Index: []

#**Creation of Dataframe from numpy array (1D,ND)**

In [13]:
b=["Python","Rust","Java"]
arr=np.array(b)
print(arr)
dfarr=pd.DataFrame(arr)
print(dfarr)

['Python' 'Rust' 'Java']
        0
0  Python
1    Rust
2    Java

#**Creation of Dataframe from list of Dictionaries**

In [14]:
co=[{"username":"ahad" , "password":"asdafd"},{"username":"vansh" , "password":"asdaeffd"},{"username":"siddhi" , "password":"awdqwdsdafd"}]

df2=pd.DataFrame(co)
print(df2)

  username     password
0     ahad       asdafd
1    vansh     asdaeffd
2   siddhi  awdqwdsdafd

#**Creation of dataframe from dictionary of list**

In [15]:
ltod={"1":[1,2,3,4], "2":[54,667,45,343]}
df3=pd.DataFrame(ltod)
print(df3)

   1    2
0  1   54
1  2  667
2  3   45
3  4  343

#**Creation of dataframe from series**

In [16]:
l5=[3,4,7,9]
s5=pd.Series(l5) #series declaration
print("Series")
print(s5)
print("DataFrame")
df5=pd.DataFrame(s5) # dataframe declaration
print(df5)

Series
0    3
1    4
2    7
3    9
dtype: int64
DataFrame
   0
0  3
1  4
2  7
3  9

#**Creation of dataframe from dictionary of series**

In [17]:
l5=[3,4,7,9]
s5=pd.Series(l5)
l6=["ahad","Aman","Vansh","Rachit"]
s6=pd.Series(l6)
dictionary={"sereis1":s5 , "series2":s6}
dframe=pd.DataFrame(dictionary)
print(dframe)

   sereis1 series2
0        3    ahad
1        4    Aman
2        7   Vansh
3        9  Rachit

#**Adding new column to dataframe**
DataFrame.insert(loc, column, value, allow_duplicates=_NoDefault.no_default)
Insert column into DataFrame at specified location.

In [19]:
print(dframe)
dframe.insert(1,"newcol", [67,4545,65,234234])
print(dframe)

   sereis1 series2
0        3    ahad
1        4    Aman
2        7   Vansh
3        9  Rachit
   sereis1  newcol series2
0        3      67    ahad
1        4    4545    Aman
2        7      65   Vansh
3        9  234234  Rachit

#**Adding a new row to dataframe**

In [25]:

print('Before inserting')
print(df2)
df2.loc[len(df2.index)] = ["bhakti","wkfhwjfh"]
print("After inserting")
print(df2)

Before inserting
  username     password
0     ahad       asdafd
1    vansh     asdaeffd
2   siddhi  awdqwdsdafd
After inserting
  username     password
0     ahad       asdafd
1    vansh     asdaeffd
2   siddhi  awdqwdsdafd
3   bhakti     wkfhwjfh

#**Deleting row from a dataframe**

In [29]:
print("Before Deleting")
print(df)
df=df.drop('a')
print("After deleting")
print(df)

Before Deleting
   apples  oranges
a       3        0
b       2        3
d       0        2
After deleting
   apples  oranges
b       2        3
d       0        2

#**Deleting column from dataframe**

In [30]:
print('Before Deleting')
print(df)
print('After deleting')
df=df.drop(columns=['apples'])
print(df)

Before Deleting
   apples  oranges
b       2        3
d       0        2
After deleting
   oranges
b        3
d        2